.checkbox {
	width: 3%;
	float: left;
	line-height: 40px;
	border-right: 1px solid #c0c5ce;
	border-bottom: 2px solid #c0c5ce;
}

.content {
	line-height: 40px;
}
.title {
	background-color: #ADBDDF;
	height: 40px;
	clear: both;
}

.content p {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid #c0c5ce;
	border-left: none;
	padding-left: 2px;
	margin-left: 3%;
}

.title:hover {
	background-color: #4BDC67;
}

.event {
	margin-top: 20px;
}

.event a {
	padding-right: 5px;
}