.logo {
	width: 50%;
	float: left;
	margin-left: 10%;
}

.header-right button {
    width: 90px;
	height: 30px;
	border-radius: 25px;
}

.header-right button.download {
	width: 120px;
	background-color: #04589B;
	color: white;
}

.content {
	text-align: center;
	margin-top: 50px;
	line-height: 25px;
	clear: both;
}

.content h2 {
	font-size: 30px;
	color: #383a3d;
}
.content h1 {
	font-size: 60px;
	color: #383a3d;
}

.content h4 {
    font-size: 22px;
    color: #383a3d;
}

.for-free {
	width: 150px;
	background-color: #0887ED;
	color: white;
	border-radius: 25px;
	height: 35px;
}

.pro-bg img {
	width: 100%;
	height: 450px;
}

.section-left {
	width: 40%;
	float: left;
}

.section-left img {
	width: 100%;
}

.section-right {
	float: right;
	width: 60%;
}

.padding-left-25 {
	padding-left: 25px;
	padding-right: 90px;
	line-height: 25px;
}

.section-right h2 {
	font-size: 30px;
	color: #383a3d;
}

.section-right h1 {
	font-size: 60px;
	color: #383a3d;
}

.item {
	line-height: 10px;
	list-style: none;
}

.item a {
	text-decoration: none;
	font-size: 20px;
	color: #383a3d;
}

.dot {
	font-size: 100px;
	color: #4286f4;
}

.section-right button {
	width: 150px;
	height: 35px;
	border-radius: 25px;
	margin-top: 25px;
}

.free-trial {
    margin-left: 25px;
    background-color: #0887ED;
    color: white;
}

p.padding-left-25 {
    font-size: 20px;
}

section {
	background-color: #E6FCFF;
	min-height: 567px;
}

.about {
	text-align: center;
	line-height: 25px;
	color: #383a3d;
}

.about h2 {
	font-size: 30px;
}

.about h1 {
	font-size: 60px;
}

.analysis {
	width: 20%;
	border: 1px solid #d5dae2;
	text-align: center;
	display: inline-block;
	margin-left: 2%;
}

.analysis img {
	margin: 25px auto;
}

.analysis p {
	padding-right: 10px;
	padding-left: 10px;
}

.analysis h2 {
	line-height: 5px;
	margin-top: 0px;
}

.analysis-first {
	margin-left: 5%;
}

.analysis-button {
	width: 150px;
	border-radius: 25px;
	height: 35px;
	margin-bottom: 25px;
}

.buy {
	background-color: #E6FCFF;
	position: relative;
	z-index: 1;
}

.block {
	width: 50%;
	margin-left: 5%;
	padding-bottom: 16%;
}

.block p {
	padding-right: 25px;
}

.usd {
	width: 20%;
	display: inline-block;
	margin-top: 20px;
}

.usd h1 {
	display: inline;
	background-color: white;
	padding: 5px 15px;

}

.usd h3 {
	display: inline;
	background-color: #456A96;
	padding: 1px 20px;
	color: white;
	line-height: 35px;
}

.version {
	width: 80%;
	float: right;
}

.form {
	position: absolute;
	top: 20px;
	right: 50px;
	width: 40%;
	border: 1px solid;
	z-index: 2;
	border-radius: 20px;
	background-color: white;
	box-shadow: 1px 1px 40px 1px #6b7a91;
}

.form-header {
	text-align: center;
}

.form p {
	padding-left: 120px;
	padding-right: 80px;
	opacity: 0.8;
}

.icon {
	padding-right: 10px;
}

.form hr {
    margin-left: 120px;
    margin-right: 100px;
}

.form-button {
	width: 315px;
	border-radius: 5px;
	height: 45px;
	margin-left: 118px;
	background-color: #0887ED;
	color: white;
}

.form-header {
	background-color: #273C56;
	border-radius: 20px 20px 0px 0px;
}

.form-header h1 {
	margin-top: 0px;
	color: white;
	line-height: 65px;
}

.customer {
	text-align: center;
	opacity: 0.8;
}

.customer h1 {
	font-size: 50px;
}

.user {
	width: 40%;
	display: inline-block;
	text-align: center;
	box-shadow: 1px 1px 40px 1px #b5bfce;
	margin-right: 3%;
	position: relative;
	margin-top: 70px;
}

.user img {
	margin-top: 15px;
	border-radius: 50%;
	border: 1px solid;
	padding: 7px;
	background-color: white;
}

.user p {
	opacity: 0.9;
}

.user h2 {
	opacity: 0.9;
}

.user-first {
	margin-left: 5%;
}

.img-user {
	position: absolute;
	top: -60px;
	left: 43%;
	z-index: 2;
}

.descript {
	margin-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
}

.footer {
	background-color: #1A2A38;
	color: white;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

@media screen and (max-width: 1024px) {
	.header-right {
		display: none;
	}

	.logo {
		margin-left: 40%;
		margin-bottom: 6%;
	}

	.section-left, .section-right {
		width: 100%;
	}

	section {
		min-height: 1564px;
	}

	.analysis {
		width: 45%;
		margin-bottom: 2%;
	}

	.analysis-first {
		margin-left: 2%;
	}

	.block {
		margin-left: 30%;
	}

	.form {
		left: 169px;
		top: 314px;
		width: 70%;
	}

	.form-button {
		width: 186px;
	}

	.buy {
		height: 800px;

	}

	.user{
		width: 100%;
	}

	.user-first {
		margin-left: 0px;
	}
}